body {
  width: 100%;
  height:100%;
  margin: 0;
  background-color: #535252;
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#root {
  height: auto;
  
  
}

::-webkit-scrollbar {
  display:none;
}